


{% extends "base.html"%}

{% block content %}

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<h1 style="margin-top: 2% ; margin-left: 2% ; ">A propos</h1>

<div class="container">

    <div class="row" style="margin-top: 6% ;">
        <p style="width: 50% ; ">
        Un générateur de clés, aussi appelé keygen, est un programme informatique générant des numéros de série aléatoires afin d'activer un logiciel. Cette application vous permettra de générer des clés aléatoires, les enregistrer, afficher avec leurs dates et les supprimer. 
        </p>
        <p style="width: 50% ; ">
            Vous trouverez le code disponible sur <a href="https://github.com/nassim-fox/keygen/tree/master ">https://github.com/nassim-fox/keygen/tree/master </a>
            <br>N'hésitez pas à me contactez en cas de problème : <b>nassim.bouhadouf@gmail.com</b>
        </p>
    </div>
</div>

{% endblock %}